@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap');


:root {
  --light : #FFFFFF;
  --dark : #1F4173;
  --gray : #F5F7FB;
  --main : #003AD2;
  --muted : rgba(31, 65, 115, 0.5);
  --gradient-orange : linear-gradient(to left,#FF2727 ,#F39034);
  --gradient-blue : linear-gradient(to left,#003AD2, #0097EC);
  --gradient-green : linear-gradient(to left,#00A843, #1FD071);
  --gradient-purple : linear-gradient(to left,#5900C9, #9852F0);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--gray);
  color: var(--dark);
}

.main-color {
  color: var(--main);
}
.muted-text {
  color: var(--muted);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-section  {
  display: flex;
}

.flex-auto {
  flex: auto;
}

.orange-gradient {
  background: var(--gradient-orange);
  color: var(--light);
}
.blue-gradient {
  background: var(--gradient-blue);
  color: var(--light);
}
.green-gradient {
  background: var(--gradient-green);
  color: var(--light);
}
.purple-gradient {
  background: var(--gradient-purple);
  color: var(--light);
}