@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap');


:root {
  --light : #FFFFFF;
  --dark : #1F4173;
  --gray : #F5F7FB;
  --main : #003AD2;
  --muted : rgba(31, 65, 115, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--gray);
  color: var(--dark);
}

.main-color {
  color: var(--main);
}
.muted-text {
  color: var(--muted);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-section  {
  display: flex;
}

.flex-auto {
  flex: auto;
}