@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap");
:root {
  --light: #FFFFFF;
  --dark: #1F4173;
  --gray: #F5F7FB;
  --main: #003AD2;
  --muted: rgba(31, 65, 115, 0.5);
  --gradient-orange: linear-gradient(to left,#FF2727 ,#F39034);
  --gradient-blue: linear-gradient(to left,#003AD2, #0097EC);
  --gradient-green: linear-gradient(to left,#00A843, #1FD071);
  --gradient-purple: linear-gradient(to left,#5900C9, #9852F0);
}

.dark {
  --dark: #FFFFFF;
  --light: #1E293B;
  --gray: #000;
  --main: #003AD2;
  --muted: rgba(31, 65, 115, 0.5);
  --gradient-orange: linear-gradient(to left,#FF2727 ,#F39034);
  --gradient-blue: linear-gradient(to left,#003AD2, #0097EC);
  --gradient-green: linear-gradient(to left,#00A843, #1FD071);
  --gradient-purple: linear-gradient(to left,#5900C9, #9852F0);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--gray);
  color: var(--dark);
}

.main-color {
  color: var(--main);
}

.muted-text {
  color: var(--muted);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.orange-gradient {
  background: var(--gradient-orange);
  color: #FFF;
}

.blue-gradient {
  background: var(--gradient-blue);
  color: #FFF;
}

.green-gradient {
  background: var(--gradient-green);
  color: #FFF;
}

.purple-gradient {
  background: var(--gradient-purple);
  color: #FFF;
}

input {
  background: none !important;
}

input::-webkit-input-placeholder {
  color: var(--main);
}

input:-ms-input-placeholder {
  color: var(--main);
}

input::-ms-input-placeholder {
  color: var(--main);
}

input::placeholder {
  color: var(--main);
}

select {
  background-color: transparent !important;
  color: var(--dark) !important;
}

@-webkit-keyframes moveToLeft {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveToLeft {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

aside {
  -webkit-transition: .6s;
  transition: .6s;
  width: 210px;
  min-height: 100vh;
  background-color: var(--light);
  z-index: 99;
}

aside .dashboard-title {
  height: 45px;
}

aside ul {
  margin-top: 20px;
}

aside ul li {
  margin: 10px 0;
}

aside ul li a {
  color: var(--dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

aside ul li a.active {
  background-color: var(--gray);
  border-radius: 20px 0 0 20px;
  color: var(--main);
  position: relative;
}

aside ul li a.active::after {
  position: absolute;
  content: "";
  right: 5px;
  top: 50%;
  height: 50%;
  width: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: var(--main);
}

aside #toggler {
  cursor: pointer;
}

aside.closed {
  -webkit-transition: .6s;
  transition: .6s;
  width: 60px;
}

aside.closed a {
  padding: 10px 0;
}

aside.closed span, aside.closed .logo {
  display: none;
}

aside.closed .flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside.closed .flex i {
  font-size: 1.4rem;
}

nav {
  background-color: var(--light);
}

.search {
  position: relative;
}

.search i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
}

header select {
  max-width: 100px;
}

header select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main {
  height: calc(100vh - 78px);
  overflow-y: auto;
}

main .card-item {
  background-color: var(--light);
  border-radius: 16px;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 10px 0;
  -webkit-transition: .6s;
  transition: .6s;
}

main .card-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

main .card-item .icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

main .card-item span {
  opacity: .7;
}

.animation-1s {
  -webkit-animation: moveToLeft 0.3s ease-in-out;
          animation: moveToLeft 0.3s ease-in-out;
}

.animation-2s {
  -webkit-animation: moveToLeft 0.6s ease-in-out;
          animation: moveToLeft 0.6s ease-in-out;
}

.animation-3s {
  -webkit-animation: moveToLeft 0.9s ease-in-out;
          animation: moveToLeft 0.9s ease-in-out;
}

.animation-4s {
  -webkit-animation: moveToLeft 1.2s ease-in-out;
          animation: moveToLeft 1.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.table-card select {
  width: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin-bottom: 10px;
}

.table-card select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.table-card table tbody {
  color: var(--dark);
  font-weight: normal;
}

.table-card table td, .table-card table th {
  padding: 15px 0;
  color: var(--dark);
}

.blue-badge {
  color: var(--main);
}

.green-badge {
  color: #16C35B;
}

.red-badge {
  color: #E80000;
}

.purple-badge {
  color: #7000FF;
}

.gray-badge {
  color: gray;
}

.orange-badge {
  color: #FF9900;
}

.products img {
  width: 50px;
  height: auto;
}

.products hr {
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

.products ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products li {
  width: 50%;
  margin: 10px 0;
}

.table {
  overflow-x: scroll;
}
